<!DOCTYPE html>
<html>

<head>
  <title>
  </title>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

  <div>
    <h1> <%= @player1.capitalize %> attacked <%= @player2.capitalize %> !! </h1>
  </div>

</div>
</body>

</html>
