<form action='/name' method="post">
  <input type="text" name="name1">
  <input type="text" name="name2">
  <input type="submit" value="Submit">
</form>

<!-- <h1><%= @name1 %> vs. <%= @name2 %></h1> -->
