<!DOCTYPE html>
<html>

<head>
  <title>Battle Royal!</title>

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

  <h1>Battle Royal!</h1>
  <div class="input_text">
    <form class="text_field" action="/names" method="post">
      <h3>Player1_name:</h3> <input type="text" name="player1">
      <h3>Player2_name:</h3> <input type="text" name="player2"></br>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</body>

</html>
