<!DOCTYPE html>
<html>

<head>
  <title>
  </title>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
  <div class="main">
    <div class="col-lg-6">
      <h1> <%= @player1_name.name.capitalize %> </h1>
    </div>
    <h1> vs </h1>
    <div class="col-lg-6">
      <h1> <%= @player2_name.name.capitalize %> </h1>
    </div>
  </div>
  <div class="hit_button">
    <form action='/hit' method='get'>
      <input class="button" type="submit" value="Hit">
    </form>
  </div>

  <div class="main">
    <h2> <%= @player2_name.name.capitalize %>: <%= @player2_name.hp_points %> </h2>
  </div>
</body>

</html>
