<div>
  Player 1 : <%= session[:player_1].name %>
                                    <br/>
    <%=session[:player_1].name%>'s Hitpoints            <br/>

  Player 2 : <%= session[:player_2].name %>
                                    <br/>
    <%=session[:player_2].name%>'s Hitpoints            <br/>

</div>

<div>
    <form action='/attack' method="post">
      <input type="submit" value="Attack">
    </form>
</div>
